@import 'fontes.css';

html,body
{
  margin: 0px;
  padding: 0px;
  font-family: "Effra";

  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
p,a,span
{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

a{cursor: pointer;}

button,
input,
textarea,
select{outline: none; font-family: "Effra";}

button{cursor: pointer;}

ul{list-style-type: none; margin: 0px; padding: 0px;}

*{transition: all 0.4s;}


.centraliza
{
  width: 95%;
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}

.centraliza-itens
{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

section,
.row,
.clear{clear: both;}


/**
 * -------------------------------
 *           Auxiliares
 * -------------------------------
 */

  /* Botão */
  .btn 
  {
    padding: 10px 20px;
    border: 0px; 
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
  }

  .btn-azulEscuro-branco
  {
    background-color: #003067;
    color: #fff;
  }

  .btn-azulClaro-branco
  {
    background-color: #008edd;
    color: #fff;
  }

  .btn-branco-azulClaro
  {
    background-color: #fff;
    color: #008edd;
  }


  .btn-laranja-branco
  {
    background-color: #ff8c2b;
    color: #fff;
  }


  .btn-amarelo-azul
  {
    background-color: #ffd24d;
    color: #008edd;
  }


  /* .btn-azulClaro-branco:hover{background-color: #0c7bb9;}
  .btn-laranja-branco:hover{background-color: #ffa75d;}
  .btn-amarelo-azul:hover{background-color: #eac149;}
  .btn-azulEscuro-branco:hover{opacity: 0.8;} */

  .btn:hover{opacity: 0.8;}


  /* BG */
  .bg-branco{background-color: #fff;}
  .bg-cinza{background-color: #edeff3;}
  .bg-azulEscuro{background-color: #003067;}
  .bg-azulClaro{background-color: #008edd;}
  .bg-amarelo{background-color: #ffd24d;}


  /* Color */
  .color-branco{color: #fff;}
  .color-azulEscuro{color: #003067;}
  .color-azulClaro{color: #008edd;}
  .color-amarelo{color: #ffd24d;}
  .color-laranja{color: #ffa75d;}

 /* Alinhamento de Texto */
 .text-align-center{text-align: center;}
 .text-align-left{text-align: left;}
 .text-align-right{text-align: right;}
 .text-align-justify{text-align: justify;}


 /* Colunas */
 .col-2{width: 50%; float: left;}
 .col-3{width: calc(100% / 3); float: left;}
 .col-4{width: 25%; float: left;}
 .col-5{width: calc(100% / 5); float: left;}



 /* Paddings */
 .p-10{padding: 10px;}
 .p-20{padding: 20px;}
 .p-30{padding: 30px;}
 .p-40{padding: 40px;}
 .p-50{padding: 50px;}
 .p-60{padding: 60px;}
 .p-70{padding: 70px;}
 .p-80{padding: 80px;}
 .p-90{padding: 90px;}
 .p-100{padding: 100px;}

 .p-t-5{padding-top: 5px;}
 .p-t-10{padding-top: 10px;}
 .p-t-20{padding-top: 20px;}
 .p-t-30{padding-top: 30px;}
 .p-t-40{padding-top: 40px;}
 .p-t-50{padding-top: 50px;}
 .p-t-60{padding-top: 60px;}
 .p-t-70{padding-top: 70px;}
 .p-t-80{padding-top: 80px;}
 .p-t-90{padding-top: 90px;}
 .p-t-100{padding-top: 100px;}
 .p-t-200{padding-top: 200px;}

 .p-b-10{padding-bottom: 10px;}
 .p-b-20{padding-bottom: 20px;}
 .p-b-30{padding-bottom: 30px;}
 .p-b-40{padding-bottom: 40px;}
 .p-b-50{padding-bottom: 50px;}
 .p-b-60{padding-bottom: 60px;}
 .p-b-70{padding-bottom: 70px;}
 .p-b-80{padding-bottom: 80px;}
 .p-b-90{padding-bottom: 90px;}
 .p-b-100{padding-bottom: 100px;}

 .p-l-10{padding-left: 10px;}
 .p-l-20{padding-left: 20px;}
 .p-l-30{padding-left: 30px;}
 .p-l-40{padding-left: 40px;}
 .p-l-50{padding-left: 50px;}
 .p-l-60{padding-left: 60px;}
 .p-l-70{padding-left: 70px;}
 .p-l-80{padding-left: 80px;}
 .p-l-90{padding-left: 90px;}
 .p-l-100{padding-left: 100px;}

 .p-r-10{padding-right: 10px;}
 .p-r-20{padding-right: 20px;}
 .p-r-30{padding-right: 30px;}
 .p-r-40{padding-right: 40px;}
 .p-r-50{padding-right: 50px;}
 .p-r-60{padding-right: 60px;}
 .p-r-70{padding-right: 70px;}
 .p-r-80{padding-right: 80px;}
 .p-r-90{padding-right: 90px;}
 .p-r-100{padding-right: 100px;}



 /* -- Margin -- */
 .m-10{margin: 10px;}
 .m-20{margin: 20px;}
 .m-30{margin: 30px;}
 .m-40{margin: 40px;}
 .m-50{margin: 50px;}
 .m-60{margin: 60px;}
 .m-70{margin: 70px;}
 .m-80{margin: 80px;}
 .m-90{margin: 90px;}
 .m-100{margin: 100px;}

 .m-t-10{margin-top: 10px;}
 .m-t-20{margin-top: 20px;}
 .m-t-30{margin-top: 30px;}
 .m-t-40{margin-top: 40px;}
 .m-t-50{margin-top: 50px;}
 .m-t-60{margin-top: 60px;}
 .m-t-70{margin-top: 70px;}
 .m-t-80{margin-top: 80px;}
 .m-t-90{margin-top: 90px;}
 .m-t-100{margin-top: 100px;}
 .m-t-200{margin-top: 200px;}

 .m-b-10{margin-bottom: 10px;}
 .m-b-20{margin-bottom: 20px;}
 .m-b-30{margin-bottom: 30px;}
 .m-b-40{margin-bottom: 40px;}
 .m-b-50{margin-bottom: 50px;}
 .m-b-60{margin-bottom: 60px;}
 .m-b-70{margin-bottom: 70px;}
 .m-b-80{margin-bottom: 80px;}
 .m-b-90{margin-bottom: 90px;}
 .m-b-100{margin-bottom: 100px;}

 .m-l-10{margin-left: 10px;}
 .m-l-20{margin-left: 20px;}
 .m-l-30{margin-left: 30px;}
 .m-l-40{margin-left: 40px;}
 .m-l-50{margin-left: 50px;}
 .m-l-60{margin-left: 60px;}
 .m-l-70{margin-left: 70px;}
 .m-l-80{margin-left: 80px;}
 .m-l-90{margin-left: 90px;}
 .m-l-100{margin-left: 100px;}

 .m-r-10{margin-right: 10px;}
 .m-r-20{margin-right: 20px;}
 .m-r-30{margin-right: 30px;}
 .m-r-40{margin-right: 40px;}
 .m-r-50{margin-right: 50px;}
 .m-r-60{margin-right: 60px;}
 .m-r-70{margin-right: 70px;}
 .m-r-80{margin-right: 80px;}
 .m-r-90{margin-right: 90px;}
 .m-r-100{margin-right: 100px;}


  /* Maximo width */
 .max-width-100{max-width: 100%;}


 /* Floats */
 .float-left{float: left;}
 .float-right{float: right;}



 /* Tamanho da fonte */
 .size-01{font-size: 0.1em;}
 .size-02{font-size: 0.2em;}
 .size-03{font-size: 0.3em;}
 .size-04{font-size: 0.4em;}
 .size-05{font-size: 0.5em;}
 .size-06{font-size: 0.6em;}
 .size-07{font-size: 0.7em;}
 .size-08{font-size: 0.8em;}
 .size-09{font-size: 0.9em;}
 .size-10{font-size: 1em;}
 .size-11{font-size: 1.1em;}
 .size-12{font-size: 1.2em;}
 .size-13{font-size: 1.3em;}
 .size-14{font-size: 1.4em;}
 .size-15{font-size: 1.5em;}
 .size-16{font-size: 1.6em;}
 .size-17{font-size: 1.7em;}
 .size-18{font-size: 1.8em;}
 .size-19{font-size: 1.9em;}
 .size-20{font-size: 2em;}
 .size-21{font-size: 2.1em;}
 .size-22{font-size: 2.2em;}
 .size-23{font-size: 2.3em;}
 .size-24{font-size: 2.4em;}
 .size-25{font-size: 2.5em;}
 .size-26{font-size: 2.6em;}
 .size-27{font-size: 2.7em;}
 .size-28{font-size: 2.8em;}
 .size-29{font-size: 2.9em;}
 .size-30{font-size: 3em;}
 .size-35{font-size: 3.5em;}
 .size-40{font-size: 4em;}
 .size-45{font-size: 4.5em;}
 .size-50{font-size: 5em;}
 .size-55{font-size: 5.5em;}
 .size-60{font-size: 6em;}
 .size-65{font-size: 6.5em;}
 .size-70{font-size: 7em;}


/**
* =========================================
*             MENU FIXO
* =========================================
*/


menu 
{
  position: fixed;
  z-index: 9999;
  background: #fff;
  margin: 0px;
  padding: 20px;
  width: 230px;
  height: 100%;

  top: 0px; left: -300px;

  overflow-y: auto;
}


#fundoMenu
{
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 999;
  display: none;
}

menu img 
{
  display: block;
  margin: 0px auto 25px;
}

menu ul li a 
{
  color: #003067;
  font-size: 0.9em;
  padding: 6px 0px;
  text-transform: uppercase;
}

menu ul li 
{
  padding: 6px 0px;
  text-align: center;
}

menu ul{padding-bottom: 30px;}

menu .busca-menu 
{
  border: 1px solid #d7d4d4;
  border-radius: 10px;
  position: relative;
  padding: 9px;
  margin-bottom: 15px;
}

menu .busca-menu .botao 
{
  font-size: 1.2em;
  color: #003067;

  position: absolute;
  cursor: pointer;

  top: 0px;
  right: 0px;
  padding: 8px;
}

menu .busca-menu input 
{
  width: 192px;
  border: none;
}


/**
* =========================================
*             INICIA O SITE 
* =========================================
*/


#menuFixo 
{
  margin-top: 97px; 
  height: 3px; 
  width: 100%;
}

header{width: 100%;}
header.fixo 
{
  position: fixed;
  z-index: 900;
  top: -35px;
}



/*|
  |  MODAL
  |
*/


.modal
{
  background: rgb(0,48,103,0.8);
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  z-index: 999999;
  max-width: 100%;
  display: flex;
}

.modal .fundoPreto
{
  z-index: 50;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}


.modal .md-inscrevase
{
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  width: 400px;

  z-index: 100;
}

.modal .md-inscrevase .closed
{
  border: none;
  background: transparent;
  font-size: 2em;
  position: absolute;
  top: -42px;
  right: 0px;
  color: #bab9b9;
}

.modal .md-inscrevase h3 
{
  text-transform: uppercase;
  font-size: 1.4em;
  color: #003067;
  padding-bottom: 30px;
}

.modal .md-inscrevase form
{
  display: block;
  width: 80%; 
  margin: 0 auto;
  text-align: left;
}

.modal .md-inscrevase form label 
{
  display: block;
  padding: 5px 0px;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #8e8f92;
}

/* .modal .md-inscrevase form label span{float: right;} */

.modal .md-inscrevase form input 
{
  border: 1px solid #cfd2d7;
  width: calc(100% - 10px);
  border-radius: 5px;
  padding: 8px 5px;
  margin-bottom: 10px;
}

.modal .md-inscrevase form button 
{
  width: calc(100% - 60px);
  display: block;
  margin: 30px auto;
}






.modal .md-busca
{
  width: 500px;
  max-width: 500px;
  background: #fff;
  display: block;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 999;
}

.modal .md-busca input 
{
  float: left;
  width: calc(100% - 80px);
  font-size: 1.2em;
  border: navajowhite;
  padding: 10px;
}

.modal .md-busca .button 
{
  background: #ff8c2b;
  height: 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 53px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}



/*|
  |  MENU SUPERIOR
  |
*/

header .superior 
{
  width: 100%; 
  padding: 2px 0px;
  background-color: #003067;
}

header .superior i 
{
  color: #008edd;
  font-size: 1em;
}

header .superior ul.nav
{
  float: right;
}

header .superior ul.nav li 
{
  display: inline-block;
  position: relative;
  padding: 7px 20px;
}

header .superior ul.nav li b 
{
  color: #fff;
  font-weight: 500;
  font-size: 0.8em;
  padding-left: 5px;
  cursor: pointer;
}

header .superior ul.nav li#menuFaleConosco
{
  border: 0px; 
  border-left: 1px solid #0090dd65;
  border-right: 1px solid #0090dd65;
}

header .superior ul.nav li .sub,
header .superior ul.nav li .subul 
{
  display: none;
  position: absolute;
  z-index: 500;

  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 20px 15px;
  background: #fff;
  border-radius: 2px;
  top: 32px;
  left: -1px;
}



/* Nos te Ligamos */
header .superior ul.nav li .modal_NosTeLigamos{width: 280px;}

header .superior ul.nav li .modal_NosTeLigamos h3 
{
  color: #003067;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 15px;
}

header .superior ul.nav li .modal_NosTeLigamos p,
header .superior ul.nav li .modal_NosTeLigamos label 
{
  display: block;
  padding: 5px 0px;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #8e8f92;
}

/* header .superior ul.nav li .modal_NosTeLigamos label span{float: right;} */

header .superior ul.nav li .modal_NosTeLigamos input,
header .superior ul.nav li .modal_NosTeLigamos select 
{
  border: 1px solid #cfd2d7;
  width: calc(100% - 10px);
  border-radius: 5px;
  padding: 8px 5px;
  margin-bottom: 10px;
}

header .superior ul.nav li .modal_NosTeLigamos select{width: 100%;}

header .superior ul.nav li .modal_NosTeLigamos p
{
  text-transform: none;
  padding: 0px 0px 10px;
}

header .superior ul.nav li .modal_NosTeLigamos button
{
  width: 100%; 
  padding: 17px 0px;
}

header .superior ul.nav li:hover{background-color: #fff;}
header .superior ul.nav li:hover b{color: #003067;}

/* Fale conosco */
header .superior ul.nav li .modal_FaleConosco{width: 150px;}
header .superior ul.nav li .modal_FaleConosco p,
header .superior ul.nav li .modal_FaleConosco a
{
  text-transform: uppercase;
  font-size: 0.9em;
  color: #003067;
  padding-bottom: 2px;
}

header .superior ul.nav li .modal_FaleConosco h4 
{
  font-size: 1.4em;
  color: #ff8c2b;
}

header .superior ul.nav li .modal_FaleConosco hr 
{
  background-color: #e6e8eb;
  height: 1px;
  border: 0px;
}


/* Central do Aluno */
header .superior ul.nav li .subul
{
  width: 115px;
}

header .superior ul.nav li .subul li{padding: 7px 0px;}
header .superior ul.nav li .subul li a 
{
  text-transform: uppercase;
  font-size: 0.8em;
  color: #003067;
}

header .superior ul.nav .subul li a:hover 
{
  color: #008edd;
}

/* Hover */
header .superior ul.nav li:hover .sub{display: block;}
header .superior ul.nav li:hover .subul{display: block;}


header .superior .icones 
{
  float: left;
  font-size: 1.2em;
  padding-top: 4px;
}

header .superior .icones a{padding: 0px 3px;}


header .superior .mobile{display: none; padding: 4px 0px;}

header .superior .mobile label 
{
  color: #fff;
  font-size: 0.8em;
  padding-right: 30px;
}

header .superior .mobile label i 
{
  padding-right: 4px;
}

header .superior .mobile input 
{
  font-size: 0.6em;
  border: navajowhite;
  border-radius: 4px;
  padding: 5px;
  width: 65px;
  margin: 0 1px;
}

header .superior .mobile .btn 
{
  padding: 5px 10px;
  font-size: 0.7em;
  margin-left: 7px;
}









/* 
  |
  |  MENU INFERIOR
  |
*/
header .inferior
{
  position: relative;
  z-index: 100;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  background: #fff;
}

header .inferior .subul,
header .inferior .sub
{
  position: absolute;
  z-index: 500;
  display: none;
}

header .inferior .direita 
{
  float: right;
  width: calc(100% - 240px);
}

header .inferior .logo 
{
  padding: 10px 0px;
}

header .inferior .direita nav 
{
  float: left;
  padding-top: 10px;
}

header .inferior .direita nav ul
{
  padding-top: 20px;
}

header .inferior .direita nav ul li 
{
  display: inline-block;
  text-transform: uppercase;
  color: #003067;
  /* font-weight: 500; */
  font-size: 0.9em;
  padding: 0px 10px;
  position: relative;
}

header .inferior .direita nav ul li a{color: #003067; font-weight: bold;}

header .inferior .direita nav ul li .busca
{
  border: 0px;
  background: transparent;
  color: #003067;
  font-size: 1.3em;
}

header .inferior .direita nav ul li .img-hover {display: none;}

/* === Sub Menu CURSOS === */


header .inferior .direita nav ul li .modal_Cursos
{
  background: #e6e9ec;
  width: 1050px;
  left: -300%;
  top: 42px;
  padding: 15px 17px;
  border-radius: 7px;
}

header .inferior .direita nav ul li .modal_Cursos .bloco 
{
  width: calc(25% - 30px);
  padding: 0px 15px;
  float: left;
}

header .inferior .direita nav ul li .modal_Cursos ul
{
  padding: 4px 0px 13px;
}

header .inferior .direita nav ul li .modal_Cursos ul li 
{
  display: block;
  padding: 5px 0px;
  font-size: 0.8em;
}

header .inferior .direita nav ul li .modal_Cursos ul li a{font-weight: normal;}
header .inferior .direita nav ul li .modal_Cursos ul li a span
{
  font-size: 0.8em;
  padding-left: 2px;
  font-weight: bold;
}

header .inferior .direita nav ul li .modal_Cursos hr 
{
  height: 1px;
  background-color: #c6cad0;
  border: 0px;
}


header .inferior .direita nav ul li .subul 
{
  background: #e6e8eb;
  width: 163px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 32px;
  left: -50px;
  border-radius: 7px;
}

header .inferior .direita nav ul li .subul li 
{
  padding: 5px 0px;
  display: block;
}

header .inferior .direita nav ul li button 
{
  text-transform: uppercase;
}


header .inferior .responsivo 
{
  float: right;
  border: none;
  background: transparent;
  font-size: 1.5em;
  margin-top: 18px;
  color: #003067;
  display: none;
}



header .inferior .direita nav ul li:hover .img-hover,
header .inferior .direita nav ul li:hover .sub,
header .inferior .direita nav ul li:hover .subul
{
  display: block;
}


/* === END Sub Menu Cursos === */



header .inferior .direita .centralAluno
{
  float: right;
  border-left: 1px solid #e3e3e3;
  width: 285px;
  padding: 10px 0px;
  padding-left: 15px;
}

header .inferior .direita .centralAluno h4 
{
  color: #008edd;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-bottom: 10px;
}

header .inferior .direita .centralAluno .bloco 
{
  float: left;
  width: calc(100% / 3);
}

header .inferior .direita .centralAluno .bloco input
{
  width: calc(100% - 17px); 
  padding: 4px;
  border: 1px solid #cfd2d7;
  border-radius: 5px;
}

header .inferior .direita .centralAluno .bloco label 
{
  text-transform: uppercase;
  font-size: 0.6em;
  color: #8895a3;
  padding-bottom: 6px;
  display: block;
}

header .inferior .direita .centralAluno .bloco button 
{
  font-size: 0.6em;
  padding: 8px 17px;
  margin-top: 16px;
}

header .inferior .direita nav ul li .busca:hover,
header .inferior .direita nav ul li a:hover {opacity: 0.6;}






/**
* =========================================
*             BANNER - HOME
* =========================================
*/

.banner 
{
  position: relative;
}

.banner .owl-theme .owl-dots
{
  position: absolute;
  bottom: 0px;
  width: 100%;
}


.banner .owl-theme .owl-dots .owl-dot.active span, 
.banner .owl-theme .owl-dots .owl-dot:hover span
{
  background-color: #ff8c2b;
}

.banner .overlay 
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #008edd;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0, 48, 103,0.5) 0%, rgba(0,142,221,0.5) 100%);

  display: none;
}

.banner .item 
{
  height: 450px;
  background-position: center;
}


.banner .item .texto
{
  color: #fff;
  padding-top: 60px;
  position: relative;
  z-index: 10;
}


.banner .item .texto h4 
{
  font-size: 1.9em;
  padding-bottom: 18px;
}


.banner .item .texto p 
{
  font-size: 1.3em;
  padding-bottom: 35px;
}

.banner .item .texto img
{
  width: auto;
  padding-bottom: 14px;
}

.banner .item .texto button 
{
  border-radius: 2px;
  padding: 13px 45px;
}

.banner .formulario-escolha 
{
  position: absolute;
  z-index: 95;
  right: 0px; top: 30px;
}

.formulario-escolha 
{
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
}

.formulario-escolha .header
{
  padding-bottom: 23px;
}

.formulario-escolha .header img 
{
  float: left;
}

.formulario-escolha .header .lateral 
{
  float: left;
  padding-left: 20px;
}

.formulario-escolha .header .lateral h2 
{
  text-transform: uppercase;
  color: #003067;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.formulario-escolha .header .lateral p 
{
  text-transform: uppercase;
  font-size: 0.8em;
  color: #008edd;
}

.formulario-escolha select 
{
  width: 100%;
  margin: 7px 0px;
  padding: 11px;
  border: 1px solid #cfd2d7;
  border-radius: 6px;
}




/**
* =========================================
*            LOGOS UNIVERSIDADES
* =========================================
*/

.logosUni .slider 
{
  width: calc(100% - 150px);
  display: block;
  margin: 0 auto;
  position: relative;
}

.logosUni .slider h4 
{
  text-transform: uppercase;
  color: #003067;
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 2em;
}

.logosUni .slider .owl-theme .owl-dots
{
  display: none;
}

.logosUni .slider .item 
{
  background: #fff;
  padding: 20px;
  margin: 10px auto;
}

.logosUni .slider .item:hover 
{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}


.owl-carousel .owl-nav .owl-next, 
.owl-carousel .owl-nav .owl-prev
{
  background: transparent;
  position: absolute;
  font-size: 2em;
  top: 60px;
}

.owl-carousel .owl-nav .owl-next i, 
.owl-carousel .owl-nav .owl-prev i
{
  color: #b6c1cd;
}

.owl-carousel .owl-nav .owl-prev
{
  left: -60px;
}

.owl-carousel .owl-nav .owl-next
{
  right: -60px;
}

.owl-carousel .owl-nav .owl-next:hover i, 
.owl-carousel .owl-nav .owl-prev:hover i
{
  color: #fff;
}



/**
* =========================================
*            Categorias Home
* =========================================
*/

.categorias .homeConteudo
{
  text-align: center;
  padding: 40px 0px;
}

.categorias .homeConteudo h3 
{
  font-size: 2.2em;
  font-weight: normal;
  text-transform: uppercase;
  color: #003067;
  padding-bottom: 20px;
}

.categorias .homeConteudo h3 b 
{
  display: block;
}

.categorias .homeConteudo h3 b span 
{
  color: #008edd;
}

.categorias .homeConteudo button
{
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 18px 30px;
}

.categorias .item-categoria
{
  width: calc((100% / 3) - 30px);
  margin: 15px;
  float: left;
  height: 225px;
  background-position: center;
  border-radius: 7px;
  position: relative;
}

.categorias .item-categoria .mec
{
  position: absolute;
  top: 0px;
  right: 5px;
}

.categorias .item-categoria .tira
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 20px);
  padding: 0px 10px;
  background: rgba(0,142,221,0.6);
  height: 70px;
}

.categorias .item-categoria .tira h5
{
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  padding-top: 12px;
  float: left;
  height: 45px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.categorias .item-categoria .tira button 
{
  float: right;
  margin-top: 18px;
}

.categorias .item-categoria .tira button i{padding-left: 10px;}


/**
* =========================================
*            Diferenciais - HOME
* =========================================
*/

.diferenciais
{
  padding: 50px 0px;
}

.diferenciais .titulo
{
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  padding-bottom: 30px;
}

.diferenciais .item 
{
  float: left;
  width: calc((100% / 5) - 30px);
  padding: 15px;
  text-align: center;
}

.diferenciais .item img 
{
  width: 80%;
  padding: 20px;
  max-width: 110px;
}

.diferenciais .item .txt
{
  display: flex;
  width: 100%; 
  min-height: 80px;
  text-align: center;
  align-items: center;
}

.diferenciais .item h5 
{
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.diferenciais .item hr 
{
  height: 2px;
  width: 30px;
  background: #008edd;
  display: block;
  margin: 15px auto;
  border: 0px;
}

.diferenciais .item p 
{
  color: #8ab9db;
}


/**
* =========================================
*            POLOS - HOME
* =========================================
*/

.polos 
{
  width: 100%;
  padding: 30px 0px;
  background-image: url("../img/background/bg-polos.jpg");
  background-position: center;
  text-transform: uppercase;
  font-weight: normal;
}

.polos h3 
{
  font-weight: normal;
  font-size: 1.7em;
  color: #fff;
  padding: 70px 0px 12px;
}

.polos p.subtitulo
{
  color: #8ab9db;
  padding-bottom: 50px;
  font-size: 0.9em;
}

.polos .campo 
{
  background: #008edd;
  padding: 30px;
  width: 270px;
}

.polos .campo hr 
{
  border: none;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
  margin: 5px 0px;
}

.polos .campo button 
{
  border: navajowhite;
  background: transparent;
  color: #fff;
  font-size: 1.5em;
}

.polos .campo input 
{
  border: navajowhite;
  background: transparent;
  width: calc(100% - 50px);
  padding: 7px 0px;
  color: #fff;
}

.polos .campo input::placeholder
{
  color: #fff; 
  opacity: 1;
}

.polos p.desc
{
  color: #8ab9db;
  font-size: 0.9em;
  padding-top: 30px;
}

.polos p.desc a 
{
  color: #fff;
  font-weight: bold;
}

.polos p.desc a:hover{opacity: 0.7;}





/**
* =========================================
* =========================================
*
*                 PÁGINAS
*
* =========================================
* =========================================
*/

.tira-titulo
{
  padding: 23px 0px;
}

.tira-titulo h1 
{
  font-weight: 500;
  font-size: 1.8em;
  text-transform: uppercase;
}



.titulo-img
{
  min-height: 325px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.titulo-img h2 
{
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
  z-index: 99;
}

.titulo-img .overlay
{
  z-index: 1;
  background: #003067;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/**
* =========================================
*                 CURSOS
* =========================================
*/

nav.menuCursos ul li
{
  display: inline-block;
  text-transform: uppercase;
  padding: 18px 10px;
}

nav.menuCursos ul li a 
{
  font-size: 0.82em;
  color: #8896ab; 
}

nav.menuCursos ul li.ativo
{
  border-bottom: 2px solid #008edd;
}

nav.menuCursos ul li:hover a,
nav.menuCursos ul li.ativo a 
{
  color: #003067;
}

nav.menuCursos .res 
{
  position: absolute;
  width: 40px; height: 40px;
  background: #edeff3;
  text-align: center;
  display: none;
  align-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0px 10px 10px 0px;
  color: #003067;
  font-size: 2em;
  top: calc(50% - 20px); right: -40px;
}

nav.menuCursos .res i 
{
  text-align: center;
  width: 100%;
}




.pg-cursos{padding: 0px 0px 40px;}

.pg-cursos .subtitulo
{
  background: #e3e6e8;
  border-radius: 7px;
  position: relative;
  padding: 20px 0px;
  margin: 40px auto 20px;

  width: calc(100% - 20px);
}

.pg-cursos .subtitulo h2 
{
  color: #003067;
  text-transform: uppercase;
  font-size: 1.7em;
  padding-left: 30px;
}

.pg-cursos .subtitulo span 
{
  position: absolute; 
  width: 10px; height: 100%;
  background-color: #d5d9dc;
  border-radius: 7px 0px 0px 7px;
  top: 0px; left: 0px;
}


.pg-cursos .item-curso
{
  margin: 15px 10px; 
  width: calc((100% / 3) - 22px);
  float: left;
  position: relative;
  border: 1px solid #cfd2d7;
  border-radius: 7px;
}

.pg-cursos .item-curso img.thumb
{
  width: 100%;
  border-radius: 7px 7px 0px 0px;
}

.pg-cursos .item-curso img.mec 
{
  position: absolute;
  top: 0px; right: 10px;
}

.pg-cursos .item-curso .titulo 
{
  padding: 15px 20px; 
  border-bottom: 1px solid #cfd2d7;
  width: calc(100% - 40px);
}

.pg-cursos .item-curso .titulo h5 
{
  color: #003067;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-bottom: 14px;
  min-height: 46px;
  align-items: center;
  display: flex;
}

.pg-cursos .item-curso .titulo p 
{
  font-size: 0.9em;
  color: #93989d;
}

.pg-cursos .item-curso .titulo p i{padding-right: 10px;}

.pg-cursos .item-curso .botoes{padding: 20px 0px; text-align: center;}
.pg-cursos .item-curso .botoes button{margin: 0px 10px;}
.pg-cursos .item-curso .botoes button i{padding-left: 10px;}


.escolha-curso
{
  background-image: url("../img/background/bg-escolha-curso.jpg");
  background-color: #395d81;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 50px 0px;
}

.escolha-curso .txt h3 
{
  font-size: 1.9em;
}

.escolha-curso .txt p 
{
  font-size: 1.2em;
  font-weight: 100;
  width: calc(100% - 60px);
  line-height: 33px;
}


.escolha-curso .formulario-escolha
{
  float: right;
  border-radius: 3px;
  margin-top: 32px;
}



/* 
  |
  |  CURSOS ESPECIFICOS
  |
*/


.pg-curso-especifico .tituloComImg 
{
  padding: 50px 0px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.pg-curso-especifico .overlay
{
  background: #003067;
  opacity: 0.8;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  z-index: 0;
}


.pg-curso-especifico .tituloComImg .texto
{
  float: left;
  width: 500px;
  color: #fff;
}

.pg-curso-especifico .tituloComImg h3 
{
  font-size: 4em;
  text-transform: uppercase;
  /* padding-bottom: 20px; */

  height: 260px;
  display: flex;
  align-items: center;
}

.pg-curso-especifico .tituloComImg p 
{
  font-weight: 100;
  font-size: 1.2em;
  line-height: 31px;
}

.tituloComImg .formulario-escolha
{
  float: right;
}


.pg-curso-especifico nav 
{
  width: 100%;
  border-bottom: 1px solid #93989d;
  margin-bottom: 40px;
}

.pg-curso-especifico nav ul 
{
  float: left;
}

.pg-curso-especifico nav ul li 
{
  display: inline-block;
  padding: 15px 23px 20px;
  color: #93989d;
  text-transform: uppercase;
  font-size: 0.9em;

  border-radius: 7px 7px 0px 0px;
  cursor: pointer;
}

.pg-curso-especifico nav ul li.ativo 
{
  background: #edeff0;
  color: #003067;
}

.pg-curso-especifico nav button 
{
  float: right;
  text-transform: uppercase;
  padding: 15px 30px;
}

.pg-curso-especifico .bloco 
{
  padding-bottom: 50px;
}


.pg-curso-especifico .bloco-apresentacao h4
{
  color: #003067;
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pg-curso-especifico .bloco-apresentacao h4 img 
{
  transform: scale(0.7);
  margin-bottom: -7px;
  padding-right: 15px;
}

.pg-curso-especifico .bloco-apresentacao p 
{
  font-size: 1.2em;
  padding-left: 41px;
  padding-bottom: 40px;
  color: #93989d;
}

.pg-curso-especifico .bloco-apresentacao button 
{
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 15px 40px;
}


.pg-curso-especifico .bloco-matriz table
{
  width: 100%; 
  border: 0px;
  border-spacing: 0px;
}

.pg-curso-especifico .bloco-matriz table thead 
{
  background: #008edd;
  color: #fff;
  font-weight: bold;
}

.pg-curso-especifico .bloco-matriz table thead td 
{
  padding: 10px;
}

.pg-curso-especifico .bloco-matriz table tbody td
{
  padding: 13px 10px;
  border-bottom: 1px solid #dbd7d7;
  font-size: 1.2em;
  font-weight: 100;
  color: #a19e9e;
} 

.pg-curso-especifico .bloco-matriz table tbody tr:hover 
{
  background: #008edd21;
}


.pg-curso-especifico .bloco-duvidas
{
  padding: 30px 0px 100px;
}

.pg-curso-especifico .bloco-duvidas label 
{
  display: block;
  color: #9d9ea1;
  padding-bottom: 5px;
}

.pg-curso-especifico .bloco-duvidas input,
.pg-curso-especifico .bloco-duvidas textarea
{
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #cfd2d7;
  margin-bottom: 20px;
}

.pg-curso-especifico .bloco-duvidas button 
{
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 16px 40px;
}


/**
* =========================================
*            2 VIA / CONTRATO
* =========================================
*/


.pg-aluno h3 
{
  text-transform: uppercase;
  font-size: 1.7em;
  padding-bottom: 23px;
}

.pg-aluno p 
{
  font-size: 1.3em;
  line-height: 31px;
  padding-bottom: 60px;
  color: #707f8e;
}

.pg-aluno .formAluno 
{
  border: 1px solid #c6cad0;
  color: #b6c1cd;
  padding: 40px 20px;
  border-radius: 7px;
  width: calc(100% - 40px);
  /* text-align: center; */
}

.pg-aluno .formAluno .item 
{
  float: left;
  width: calc((100% / 3) - 20px);
  padding: 0px 10px;
}

.pg-aluno .formAluno .item label 
{
  display: block;
  font-size: 0.7em;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.pg-aluno .formAluno .item input 
{
  width: calc(100% - 20px);
  padding: 12px 10px;
  border: 1px solid #c6cad0;
  border-radius: 7px;
}

.pg-aluno .formAluno .item button 
{
  width: calc(100% - 40px);
  margin-top: 25px;
  padding: 12px 0px;
}



/**
* =========================================
*              INSTITUICAO
* =========================================
*/

.pg-instituicao h3
{
  font-size: 1.6em;
  color: #008edd;
  padding: 20px 0px;
  text-transform: uppercase;
}

.pg-instituicao h4 
{
  color: #003067;
  font-size: 1.4em;
  padding-bottom: 16px;
  padding-top: 20px;
}

.pg-instituicao ul li,
.pg-instituicao p 
{
  color: #707f8e;
  font-size: 1.3em;
  font-weight: normal;
  padding-bottom: 20px;
}

.pg-instituicao hr 
{
  height: 1px;
  width: 100%;
  border: none;
  background: #d6d6d6;
  margin: 35px 0px 20px;
}

.pg-instituicao ul
{
  list-style-type: disc;
  margin-left: 18px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.pg-instituicao ul li{padding-bottom: 10px;}

.pg-instituicao .variasLogos img 
{
  padding: 20px;
  border: 1px solid #c6cad0;
  border-radius: 7px;
  margin: 10px;
  width: calc(25% - 65px);
  float: left;
  height: 126px;
}



/* ====================== CONTATO ====================== */

.pg-contato .titulo
{
  padding-bottom: 50px;
}


.pg-contato .titulo .texto
{
  float: left;
  width: calc(100% - 400px);
}

.pg-contato .titulo .texto p 
{
  font-size: 1.2em;
  color: #707f8e;
}


.pg-contato .titulo .caixaTelefone 
{
  float: right;
  background: #e3e6e8;
  padding: 20px 30px;
  border-radius: 7px;
  text-align: center;
}

.pg-contato .titulo .caixaTelefone h3 
{
  font-size: 0.8em;
  font-weight: normal;
  color: #003067;
  padding-bottom: 5px;
}

.pg-contato .titulo .caixaTelefone h4 
{
  font-size: 1.8em;
  color: #008edd;
}

.pg-contato .formContato
{
  padding: 30px;
  border-radius: 7px;
  border: 1px solid #c6cad0;
}

.pg-contato .formContato label 
{
  display: block;
  padding: 5px 0px;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #8e8f92;
}

.pg-contato .formContato input,
.pg-contato .formContato select,
.pg-contato .formContato textarea 
{
  border: 1px solid #cfd2d7;
  width: calc(100% - 10px);
  border-radius: 5px;
  padding: 8px 5px;
  margin-bottom: 10px;
}

.pg-contato .formContato select{width: 100%;}

.pg-contato .formContato p 
{
  font-size: 0.8em;
  color: #8e8f92;
}

.pg-contato .formContato button 
{
  width: 300px;
  margin-top: 30px;
}



/**
* =========================================
*            POLOS NO BRASIL
* =========================================
*/


.polosBrasil .texto 
{
  padding: 50px 0px;
}

.polosBrasil .texto h2 
{
  font-size: 1.7em;
  padding-bottom: 24px;
}

.polosBrasil .texto p 
{
  padding-bottom: 20px;
  font-size: 1.2em;
  color: #9e9b9b;
}

.polosBrasil .busca 
{
  background: #edeff3;
  padding: 20px 0px;
}

.polosBrasil .busca 
{
  background: #edeff3;
  padding: 20px 0px;
}

.polosBrasil .busca select,
.polosBrasil .busca .input 
{
  width: calc((100% / 3) - 60px);
  float: left;
  margin: 0px 20px;
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
}


.polosBrasil .busca .input i 
{
  float: right;
  font-size: 1.3em;
  color: #008edd;
}

.polosBrasil .busca .input input 
{
  width: calc(100% - 40px);
  border: 0px;
}

.polosBrasil .busca .input select
{
  padding: 11px 10px;
}


/**
* =========================================
*              ERRO - 404
* =========================================
*/

.pg-erro 
{
  padding: 100px 0px;
  text-align: center;
}

.pg-erro h1 
{
  font-size: 12em;
  color: #ff8c2b;
}

.pg-erro h2
{
  font-size: 2em;
  color: #003067;
  margin-bottom: -40px;
}

.pg-erro h3 
{
  font-weight: normal;
  font-size: 1.5em;
  color: #003067;
}


/**
* =========================================
*             PÁgina Inicial
* =========================================
*/

.pg-inicial
{
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; min-height: 100%;
  background-image: url("../img/escolha.png");
  background-position: top left; 
  background-repeat: no-repeat;
}


.pg-inicial .escolha 
{
  position: absolute;
  top: 0px; left: 50%;
  width: 50%; min-height: 100%;
  min-width: 550px;
  background-image: url("../img/background/bg-escolha.png");
  background-position: top left; 
  background-repeat: no-repeat;
}

.pg-inicial .escolha .alinha 
{
  padding: 40px 70px;
  width: 400px;
}

.pg-inicial .escolha .alinha hr
{
  margin: 40px 0px;
  height: 1px; width: 100%;
  border: none;
  background: #fff;
  opacity: 0.2;
}

.pg-inicial .escolha .alinha h2 
{
  color: #fff;
  font-size: 1.8em;
  font-weight: normal;
  padding-bottom: 50px;
}

.pg-inicial .escolha .alinha .botao
{
  padding: 26px 20px;
  width: calc(100% - 40px);
  margin-bottom: 30px;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.pg-inicial .escolha .alinha .botao .icone 
{
  background: #fff;
  color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 65px;
  border-radius: 0px 10px 10px 0px;
  font-size: 2em;
}

.pg-inicial .escolha .alinha .botao.azul 
{
  background: #00b2dc;
}

.pg-inicial .escolha .alinha .botao.azul .icone{color: #00b2dc;}

.pg-inicial .escolha .alinha .botao.laranja 
{
  background: #ff8c2b;
}

.pg-inicial .escolha .alinha .botao.laranja .icone{color: #ff8c2b;}



.central
{
  /* border-left: 1px solid #e3e3e3 */
  background: #fff;
  border-radius: 10px;
  width: calc(100% - 40px);
  padding: 20px;
}

.central h4 
{
  color: #008edd;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-bottom: 10px;
}

.central .bloco 
{
  float: left;
  width: calc((100%  - 80px) / 2);
}

.central .bloco input
{
  width: calc(100% - 17px); 
  padding: 4px;
  border: 1px solid #cfd2d7;
  border-radius: 5px;
}

.central .bloco.btn-div
{
  width: auto;
}

.central .bloco label 
{
  text-transform: uppercase;
  font-size: 0.6em;
  color: #8895a3;
  padding-bottom: 6px;
  display: block;
}

.central .bloco button 
{
  font-size: 0.6em;
  padding: 8px 17px;
  margin-top: 16px;
}


.pg-inicial .escolha .alinha .botao:hover .icone
{
  width: 100px;
}



/**
* =========================================
*                 FOOTER
* =========================================
*/

footer .barra-superior
{
  background: #008edd;
  padding: 20px;
}

/* footer .barra-superior h3 
{
  font-size: 1.7em;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  float: left;
  padding-top: 5px;
}

footer .barra-superior .right 
{
  float: right;
}

footer .barra-superior .right button 
{
  text-transform: uppercase;
  padding: 15px 20px;
}

footer .barra-superior .right span 
{
  padding: 0px 20px;
  color: #fff;
} */


footer .barra-superior h3 
{
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer .barra-superior input 
{
  border: 1px solid #c6cad0;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
}

footer .barra-superior input
{
  width: calc(27% - 40px);
}

footer .barra-superior button 
{
  width: calc(19% - 60px);
}




footer .inferior
{
  padding: 30px 0px;
}

footer .inferior .left 
{
  float: left;
  width: 300px;
}

footer .inferior .right
{
  float: left;
  width: calc(100% - 300px);
  text-transform: uppercase;
}

footer .inferior .left p
{
  font-size: 0.8em;
  color: #acadb0;
  padding-top: 30px;
}

footer .inferior .right ul li
{
  padding: 3px 0px;
}

footer .inferior .right ul li b,
footer .inferior .right ul li a 
{
  color: #003067;
  font-size: 0.9em;
}

footer .inferior .right ul li b{padding-bottom: 7px; display: block;}

footer .inferior .right p 
{
  font-weight: bolder;
  padding-top: 30px;
}

footer .inferior .right p a{color: #003067;}

footer .inferior .right ul.bold li{padding: 8px 0px;}
footer .inferior .right ul.bold li a{font-weight: bold;}

footer .inferior .right ul.bold li a:hover, 
footer .inferior .right ul li a:hover,
footer .inferior .right a:hover
{
  opacity: 0.7;
}