@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/regular.ttf');

  font-style: normal;
  font-weight: normal;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/bold.otf');

  font-style: normal;
  font-weight: bold;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/bold-italic.otf');

  font-style: italic;
  font-weight: bold;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/light.otf');

  font-style: normal;
  font-weight: 100;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/light-italic.otf');

  font-style: italic;
  font-weight: 100;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/heavy.otf');

  font-style: normal;
  font-weight: 900;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/heavy-italic.otf');

  font-style: italic;
  font-weight: 900;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/medium.otf');

  font-style: normal;
  font-weight: 500;
}


@font-face
{
  font-family: "Effra";
	src: url('fontes/effra/medium-italic.otf');

  font-style: italic;
  font-weight: 500;
}